@using Microsoft.AspNetCore.Identity

@model SocialNet.Models.Form.UserSettings

@inject UserManager<AppUser> UserManager

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Settings" asp-action="UpdateInfo" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" asp-for="Name" class="form-control" id="name" name="name" placeholder="Enter name" />
                </div>

                <div class="form-group">
                    <label for="name">Surname:</label>
                    <input type="text" asp-for="Surname" class="form-control" id="surname" name="surname" placeholder="Enter surname" />
                </div>
                <div class="form-group">
                    <label for="birthDate">Birth date:</label>
                    <input type="date" asp-for="Birthdate" class="form-control" id="birthDate" name="birthDate" placeholder="Enter birth date" />
                </div>
                <div class="form-group">
                    <label for="image">Picture:</label>
                    <input type="file" asp-for="Image" class="form-control" name="image" id="image" placeholder="Enter image" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span><br />
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

        <div class="col-md-6">
            @if (!Model.HasPicture)
            {
                <img src="~/images/noimage.jpg" id="imgstore" height="300" width="300" />
            }
            else
            {
                <img src="@(Model.ImageUrl)?qp=@(new Random().Next())" id="imgstore" height="300" width="300" />
            }

            <script>
                function imageHandler(e2) {
                    document.getElementById('imgstore').setAttribute('src', e2.target.result);
                }

                function loadimage(e1) {
                    var filename = e1.target.files[0];
                    var fr = new FileReader();
                    fr.onload = imageHandler;
                    fr.readAsDataURL(filename);
                }

                window.onload = function () {
                    var x = document.getElementById("image");
                    x.addEventListener('change', loadimage, false);
                }

            </script>

        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Settings" asp-action="ChangePassword" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="oldPassword">Old password:</label>
                    <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="Enter old password" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" asp-for="NewPassword" class="form-control" name="password" id="password" placeholder="Enter new password" />
                </div>
                <button type="submit" class="btn btn-primary">Change</button>
            </form>
        </div>
    </div>
</div>

